* {
    font-family: 'Open Sans', sans-serif;
}

/*header and navigation style  */
.N {

    font: size 30px;
}

.A {
    color: salmon;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav {
    justify-content: space-between;
    display: flex;
    margin: 30px 150px;
}

nav ul { align-items: center;
    display: flex;
}

.span {
    width: 64px;
    border-radius: 5px; border: none;
        border-color: tomato;
    background-color: salmon;}
img{padding-left: 50px; 
 padding-bottom:    500px;}
 .BANNER{display: flex;}
 .TT{justify-content: space-between;}
 body{background-image:url(header_bg.png) ;
background-repeat: no-repeat;}